{# src/Acme/LibraryBundle/Resources/views/Language/add.html.twig #}

<form action="{{ path('language_save') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>